{% extends "base.html" %}

{% block title %} Главная {% endblock %}

{% block body %}
<body class="index-body">
  <div class="container rounded-5" style="background-color: #1B1D1B;

;">
    <h1>Приветствую вас  </h1>
    <h1>Сейчас вы можете узнать информацию на ваш выбор </h1>
    <h2> Нажмите на ту кнопку с которая интересна вам </h2>
    
    <nav class='center'>
      <a href="/blog" class="button-KAKT">Интересное</a>
      <a href="/contacts" class="button-KAKT">О себе</a>
    </nav>
    <br>
    
    <h1> Неволнуйтесь вы можете нажать на второю и прочитать её так же </h1> 
    <h1>А вы знали</h1>
    <h1>Что на этой странице можно посмотреть топ музыку Сени ;)</h1>
    <h1> Спасибо Сене за эту информацию</h1>

   
    <iframe frameborder="0" style="border:none;width:75%;height:450px;" width="75%" height="450px"       
     src="https://music.yandex.ru/iframe/#playlist/arsenie.tv/3" class='center'>Слушайте <a 
     href='https://music.yandex.ru/users/arsenie.tv/playlists/3'>Мне нравится</a> — <a 
     href='https://music.yandex.ru/users/arsenie.tv'>arsik.supr</a> на Яндекс Музыке</iframe>
  </div>
   <footer>не скам. ком не скам. ком !!!!Все права украденны и уничтожены под чистую  !!!! не скам. ком не скам. ком</footer>
</body>
{% endblock %}